body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.creative {
  color: aqua;
}
.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card   {
  width: 55%;
}
.left {
  float: left;
}
.right {
  float: right;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
/*
.left > .tile-image {
  height: 200px;
  width: 300px;
  float: left;
  display: inline block;
  flex: 3;
}
.right > .tile-image {
  height: 200px;
  width: 300px;
  float: left;
  display: inline-block;
}

.left {
  height: 150px;
  width: 250px;
  display: inline-block;
}

.left > .card-title
{
  position: relative;
  left: 140%;
  bottom: 130%;

}
.left > .card-text
{
  position: relative;
  left: 140%;
  bottom: 150%;
  
}

.right {
  height: 150px;
  width: 250px;
  display: inline-block;
}

.right > .card-title
{
  position: relative;
  left: 240%;
  bottom: 10%;

}
.right > .card-text
{
  position: relative;
  left: 140%;
  bottom: 150%;
  
}
